<h1><%= @category.name %></h1>

<div id="products">
  <% if @products.present? %>
    <% @products.each do |product| %>
      <div class="product">
        <h2><%= link_to product.name, product_path(product) %></h2>
        <p><%= product.description %></p>
        <p>Price: $<%= product.price %></p>
      </div>
    <% end %>
  <% else %>
    <p>No products available in this category.</p>
  <% end %>
</div>
