<nav>
  <div class="navbar-container">
    <%= link_to "A La Carde", root_path, class: "navbar-logo" %>
    <ul class="navbar-links">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Products", products_path %></li>
      <li><%= link_to "Categories", categories_path %></li>
    </ul>
  </div>
</nav>